*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
  scrollbar-width: thin;
}
body{
  font-family: "poppins";
  background-color: whitesmoke;
}

.container{
  width: min(100% - 15px, 1300px);
  margin-inline: auto;
}
section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.text__center{
  text-align: center;
}
.input__container{
  width: 600px;
  min-height: 200px;
  background: white;
}
.px__px{
  padding: 5px 10px;
}
form{
  margin-top: 1.45rem;
}

.targetholder{
  width: 300px;
  min-height: 40px;
  padding: 10px 5px;
  font-size: 16px;
  border: 1px solid ;
  outline: none;
  background-color: transparent;
}
.float-{
  float: left !important;
}
.btn{
  min-height: 40px;
  padding: 10px 15px;
  font-size: 16px;
  background-color: aqua;
  border:1px solid aqua;
  cursor: pointer;
}
.d__flex{
  display: flex;
}
.justify__between{
  display: flex;
  justify-content: space-between;
}
ul li{
  list-style-type: none;
}
ul{
 max-width: 400px;
 padding: 15px;
}
.mx__auto{
  margin: 0 auto;
}
.mt__px{
  margin-bottom: 15px;
}
.my__px{
  margin: 10px 0;
}
.py__2{
  padding: 1.45rem 0;
}
.success{
  color: rgb(120, 218, 120);
}
.fw-bold{
  font-weight: bold;
}
.btn-r{
  background-color: transparent;
  border: none;
  outline: none;
  color:red;
  cursor: pointer;
  font-size: 16px;
}
.clear{
  background-color: transparent;
  border: none;
  outline: none;
  color:red;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin:15px 0  ;
}
.danger{
  color:red;
}